/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    .portfolio-body {
        .header {
            .nav {
                .right-menu {
                    font-size: xx-large;
                }
            }
        }
        .main {
            margin-top: 16%;
            height: 75vh;
            .introduction {
                .text-introduction {
                    .description {
                        margin-left: 20px;
                        font-size: 3.3vw;
                        width: 60%;
                        margin-top: 65px;
                        font-size: 40px;
                        line-height: 50px;
                    }
                }
            }
        }
        .projects {
            .project-container {
                .project-one,
                .project-three {
                    .project-details {
                        .project-description {
                            .button-containers {
                                .button {
                                    height: 70px;
                                    width: 25%;
                                    font-size: xx-large;
                                }
                            }
                        }
                    }
                }
                .project-one,
                .project-three {
                    width: 100vw;
                    font-size: 3vw;
                }
                .image-container {
                    display: none;
                }
            }
        }
        .about {
            .about-general {
                .details {
                    width: 65vw;
                    .about-title {
                        margin-top: 90px;
                        font-size: 2.8vw;
                    }
                    .about-detail {
                        font-size: 1.8vw;
                        line-height: 54px;
                    }
                }
            }
            .about-content {
                padding-bottom: 1vh;
                .details {
                    width: 65vw;
                    .about-content-title {
                        font-size: 1.8vw;
                    }
                    .company-details {
                        .company-name {
                            font-size: 1.8vw;
                            margin-bottom: 40px;
                            line-height: 50px;
                            .job-details {
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
            .sign {
                padding-left: 14vw;
            }
        }
        .footer {
            height: 30vh;
            .contact {
                padding-top: 5%;
                text-align: center;
            }
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */