@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.license-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5%;
}
.license-body .license-header {
  font-size: 38px;
  line-height: 44px;
}
.license-body .license-details {
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
  line-height: 24px;
  font-family: Roboto, sans-serif;
  color: grey;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  padding: 0;
  margin: 0;
}

.portfolio-body {
  font-family: "" Roboto "", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
.portfolio-body .header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3.5% 5% 0%;
}
.portfolio-body .header .nav .left-menu .logo {
  width: 250px;
}
.portfolio-body .header .nav .right-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.portfolio-body .header .nav .right-menu .nav-link {
  margin: 10px;
  cursor: pointer;
  color: #808080;
  text-decoration: none;
}
.portfolio-body .header .nav .right-menu .nav-link:hover {
  font-size: large;
  color: #000;
}
.portfolio-body .main {
  height: 100vh;
}
.portfolio-body .main .introduction {
  margin-top: 4rem;
}
.portfolio-body .main .introduction .text-introduction {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
  padding-right: 5rem;
  padding-left: 5rem;
}
.portfolio-body .main .introduction .text-introduction .greeting-one {
  font-size: 12rem;
  line-height: 16rem;
  color: black;
  margin-top: 5px;
  margin-bottom: 0px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 400;
  animation-duration: 800ms;
  animation-delay: 800;
  transition-timing-function: linear;
  animation-name: hello;
}
@keyframes hello {
  from {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0%, 0);
  }
}
@keyframes you {
  from {
    transform: translate3d(0%, -50%, 0);
  }
  100% {
    transform: translate3d(0%, 0%, 0);
  }
}
@keyframes desc {
  from {
    visibility: visible;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    visibility: visible;
    transform: translate3d(0, 0%, 0);
  }
}
.portfolio-body .main .introduction .text-introduction .greeting-two {
  width: 100%;
  color: transparent;
  background: #fff;
  z-index: 1;
  margin-top: 2%;
  margin: 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 12rem;
  line-height: 10.5rem;
  font-weight: 900;
  animation-duration: 500ms;
  animation-delay: 1000;
  transition-timing-function: linear;
  transform-style: preserve-3d;
}
.portfolio-body .main .introduction .text-introduction .description {
  color: transparent;
  visibility: hidden;
  width: 35%;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: "" Roboto "", sans-serif;
  color: gray;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  animation-duration: 1000ms;
  animation-delay: 1000;
  transition-timing-function: linear;
}
.portfolio-body .main .scroll-down {
  cursor: pointer;
  position: absolute;
  left: 50%;
  right: 0px;
  bottom: 0px;
  display: block;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
}
.portfolio-body .about {
  height: 100%;
  width: 100%;
}
.portfolio-body .projects, .portfolio-body .plugins {
  width: 100%;
  height: 100vh;
  columns: 2;
  color: #fff;
  display: flex;
  background-size: cover;
}
.portfolio-body .projects .project-container, .portfolio-body .plugins .project-container {
  display: flex;
  width: 100%;
}
.portfolio-body .projects .project-container .project-one,
.portfolio-body .projects .project-container .project-two,
.portfolio-body .projects .project-container .project-three,
.portfolio-body .projects .project-container .project-four, .portfolio-body .plugins .project-container .project-one,
.portfolio-body .plugins .project-container .project-two,
.portfolio-body .plugins .project-container .project-three,
.portfolio-body .plugins .project-container .project-four {
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 0.7;
  height: 100%;
  width: 50%;
  margin: 0;
}
.portfolio-body .projects .project-container .project-one .project-details .project-description,
.portfolio-body .projects .project-container .project-two .project-details .project-description,
.portfolio-body .projects .project-container .project-three .project-details .project-description,
.portfolio-body .projects .project-container .project-four .project-details .project-description, .portfolio-body .plugins .project-container .project-one .project-details .project-description,
.portfolio-body .plugins .project-container .project-two .project-details .project-description,
.portfolio-body .plugins .project-container .project-three .project-details .project-description,
.portfolio-body .plugins .project-container .project-four .project-details .project-description {
  height: 100vh;
  margin: 6rem auto;
  color: #fff;
  line-height: 1.6;
  padding: 10%;
}
.portfolio-body .projects .project-container .project-one .project-details .project-description .project-number,
.portfolio-body .projects .project-container .project-two .project-details .project-description .project-number,
.portfolio-body .projects .project-container .project-three .project-details .project-description .project-number,
.portfolio-body .projects .project-container .project-four .project-details .project-description .project-number, .portfolio-body .plugins .project-container .project-one .project-details .project-description .project-number,
.portfolio-body .plugins .project-container .project-two .project-details .project-description .project-number,
.portfolio-body .plugins .project-container .project-three .project-details .project-description .project-number,
.portfolio-body .plugins .project-container .project-four .project-details .project-description .project-number {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 70px;
  line-height: 60px;
  font-weight: 400;
}
.portfolio-body .projects .project-container .project-one .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-two .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-three .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-four .project-details .project-description .project-heading, .portfolio-body .plugins .project-container .project-one .project-details .project-description .project-heading,
.portfolio-body .plugins .project-container .project-two .project-details .project-description .project-heading,
.portfolio-body .plugins .project-container .project-three .project-details .project-description .project-heading,
.portfolio-body .plugins .project-container .project-four .project-details .project-description .project-heading {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 85px;
  line-height: 70px;
  font-weight: 900;
}
.portfolio-body .projects .project-container .project-one .project-details .project-description .button-containers .button,
.portfolio-body .projects .project-container .project-two .project-details .project-description .button-containers .button,
.portfolio-body .projects .project-container .project-three .project-details .project-description .button-containers .button,
.portfolio-body .projects .project-container .project-four .project-details .project-description .button-containers .button, .portfolio-body .plugins .project-container .project-one .project-details .project-description .button-containers .button,
.portfolio-body .plugins .project-container .project-two .project-details .project-description .button-containers .button,
.portfolio-body .plugins .project-container .project-three .project-details .project-description .button-containers .button,
.portfolio-body .plugins .project-container .project-four .project-details .project-description .button-containers .button {
  height: 40px;
  width: 150px;
  color: #000;
  font-weight: 900;
  margin-top: 20px;
  cursor: pointer;
}
.portfolio-body .projects .project-container .project-two, .portfolio-body .plugins .project-container .project-two {
  background-color: rgba(165, 165, 165, 0.75);
}
.portfolio-body .projects .project-container .project-two .project-details .project-description, .portfolio-body .plugins .project-container .project-two .project-details .project-description {
  color: #000;
}
.portfolio-body .projects .project-container .project-three, .portfolio-body .projects .project-container .project-four, .portfolio-body .plugins .project-container .project-three, .portfolio-body .plugins .project-container .project-four {
  background-color: rgba(255, 255, 255, 0.75);
}
.portfolio-body .projects .project-container .project-three .project-details .project-description, .portfolio-body .projects .project-container .project-four .project-details .project-description, .portfolio-body .plugins .project-container .project-three .project-details .project-description, .portfolio-body .plugins .project-container .project-four .project-details .project-description {
  color: #020202;
}
.portfolio-body .projects .project-container .image-container, .portfolio-body .plugins .project-container .image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-body .projects .project-container .image-container .project-image, .portfolio-body .plugins .project-container .image-container .project-image {
  width: 80%;
  height: 50%;
}
.portfolio-body .plugins .project-container .project-three .project-details .project-description .button-containers .button {
  background: #fff;
}
.portfolio-body .about {
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}
.portfolio-body .about .about-general {
  width: 100%;
  border-bottom: 1px none #e4e4e4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.portfolio-body .about .about-general .details {
  padding: 10% 10% 0%;
}
.portfolio-body .about .about-general .about-title {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 900;
}
.portfolio-body .about .about-general .about-detail {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}
.portfolio-body .about .about-content {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px none #e4e4e4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.portfolio-body .about .about-content .details {
  padding: 10%;
}
.portfolio-body .about .about-content .details .sign {
  padding-top: 1rem;
}
.portfolio-body .about .about-content .details .sign img {
  width: 6rem;
}
.portfolio-body .about .about-content .about-content-title {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 900;
}
.portfolio-body .about .about-content .company-details .company-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.portfolio-body .about .about-content .company-details .company-name h4 {
  margin-bottom: 3px;
}
.portfolio-body .about .about-content .company-details .company-name .job-details {
  color: gray;
  margin: 0;
  font-weight: 300;
}

.contact {
  padding-top: 5%;
  text-align: center;
}
.contact .contact-header {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  line-height: 52px;
  font-weight: 900;
}
.contact .contact-container .contact-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: #fff;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  padding: 10px 60px;
  background-color: #000;
  -webkit-transition: background-color 400ms ease, box-shadow 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, box-shadow 400ms ease, color 400ms ease;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 20px;
  color: #fff;
  margin: 0% 2% 0% 0%;
}

.footer {
  height: 45vh;
  width: 100%;
  background-color: #fafafa;
}
.footer .scroll-up {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.footer .footer-logo .logo {
  margin: 5% 4% 0%;
  width: 250px;
}
.footer .footer-links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3%;
}
.footer .footer-links-container .footer-link {
  cursor: pointer;
  padding-bottom: 5px;
  margin-right: 10px;
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow 200ms ease, color 200ms ease;
  transition: box-shadow 200ms ease, color 200ms ease;
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.footer .license-details {
  font-family: "Roboto", sans-serif;
  color: gray;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

@media (max-width: 1180px) {
  .portfolio-body .main .introduction .text-introduction .greeting-two {
    line-height: 11rem;
  }
}
@media (max-width: 960px) {
  .portfolio-body .plugins .project-container .project-two .project-details .project-description .project-heading, .portfolio-body .plugins .project-container .project-three .project-details .project-description .project-heading {
    font-size: 60px;
  }
}
@media (max-width: 770px) {
  .portfolio-body .main .introduction .text-introduction .greeting-one,
.portfolio-body .main .introduction .text-introduction .greeting-two {
    font-size: 10rem;
  }
  .portfolio-body .main .introduction .text-introduction .description {
    width: auto;
  }
  .portfolio-body .projects .project-container .project-one,
.portfolio-body .projects .project-container .project-four {
    width: 100%;
  }
  .portfolio-body .projects .project-container .image-container {
    display: none;
  }
  .portfolio-body .plugins {
    height: auto;
  }
  .portfolio-body .plugins .project-container {
    flex-direction: column;
  }
  .portfolio-body .plugins .project-container .project-two, .portfolio-body .plugins .project-container .project-three {
    width: 100%;
  }
  .portfolio-body .about .about-general .details {
    padding: 10%;
  }
  .portfolio-body .about .about-content .details {
    padding: 10%;
  }
}
@media screen and (max-width: 600px) {
  .portfolio-body .main .introduction .text-introduction .greeting-one,
.portfolio-body .main .introduction .text-introduction .greeting-two {
    font-size: 10rem;
  }
  .portfolio-body .main .introduction .text-introduction .description {
    width: auto;
  }
  .portfolio-body .footer .contact .contact-container .contact-button {
    display: block;
    width: 4rem;
    margin: 1rem auto;
  }
}
@media screen and (max-width: 550px) {
  .portfolio-body .header .nav {
    display: flex;
    flex-direction: column;
  }
  .portfolio-body .main .introduction .text-introduction .greeting-one,
.portfolio-body .main .introduction .text-introduction .greeting-two {
    font-size: 8rem;
    height: 185px;
  }
  .portfolio-body .main .introduction .text-introduction .description {
    width: auto;
  }
}
@media screen and (max-width: 450px) {
  .portfolio-body .header .nav {
    display: flex;
    flex-direction: column;
  }
  .portfolio-body .main .introduction .text-introduction .greeting-one,
.portfolio-body .main .introduction .text-introduction .greeting-two {
    font-size: 6rem;
  }
  .portfolio-body .main .introduction .text-introduction .hello-container {
    height: 190px;
  }
  .portfolio-body .main .introduction .text-introduction .greeting-two {
    height: 130px;
  }
  .portfolio-body .main .introduction .text-introduction .description {
    width: auto;
  }
  .portfolio-body .projects .project-container .project-one .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-one .portfolio-body .projects .project-container .project-two .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-one .portfolio-body .projects .project-container .project-three, .portfolio-body .projects .project-container .project-one .project-four .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-two .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-two .portfolio-body .projects .project-container .project-two .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-two .portfolio-body .projects .project-container .project-three,
.portfolio-body .projects .project-container .project-two .project-four .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-three .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-three .portfolio-body .projects .project-container .project-two .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-three .portfolio-body .projects .project-container .project-three,
.portfolio-body .projects .project-container .project-three .project-four .project-details .project-description .project-heading, .portfolio-body .projects .project-container .project-four .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-four .portfolio-body .projects .project-container .project-two .project-details .project-description .project-heading,
.portfolio-body .projects .project-container .project-four .portfolio-body .projects .project-container .project-three, .portfolio-body .projects .project-container .project-four .project-four .project-details .project-description .project-heading {
    font-size: 65px;
  }
}
@media screen and (max-width: 350px) {
  .portfolio-body .main .introduction .text-introduction .hello-container,
.portfolio-body .main .introduction .text-introduction .you-container {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
